<!DOCTYPE html>
<html style="background-color: rgb(54, 54, 54); color:white;">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>


</script>


<body style="font-family: monospace; margin-left: 50px;">
    <h1>Login Librarian</h1>
    <div class="loginform" style="align-content: center; width: 300px;">
        <form method="get" action="/main" style="line-height: 200%; ">
            <label style="font-size:18px; margin-left:30px">Email:</label>
            <input id="emailLogin" name="emailLogin" placeholder="Email Address" type="email" required /></br>
            <label style="font-size:18px;">Password:</label>
            <input id="passwordLogin" name="passwordLogin" placeholder="Password" type="password" required /></br>
            <button type="submit" style="margin-left:223px"> Login </button>
        </form>
    </div>
</body>

</html>